.App {
  background-color: #EAEAEA;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.editor {
  background-color: white;
  height: 500px;
  width: 500px;
}

